@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,800;1,400;1,500;1,600&display=swap');


*{
    margin: 0;
    padding: 0;
    border: 0;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  text-transform: none;
}

.header {
        width: 100%;
        background-position: center bottom;
        background-repeat: no-repeat;
        background-size: cover;
        min-height: 110vh;
        display: flex;
        align-items: center;
        top: 0;
        left: 0;
        right: 0;
        justify-content: space-between;
        text-transform: uppercase;
}

ul {
position: absolute;
float: right;
top: 0;
left: 500px;
padding: 12px;
list-style: none;
display: flex;
gap: 9px;
}

a{
font-size: 13px;
padding: 10px;
font-weight: 600;
color: white;
display: block;
align-items: flex-end;
text-decoration: none;
}

a:hover {
    color: rgb(98, 94, 81);
    font-size: 13px;
    transition: all 0,3s
}

nav{
    position: fixed;
    z-index:2;
    top: 0;
    width:100%;
    height: 50px;
    background-color: #b99768;;
}



h2 {
    position: absolute;
    top: 0;
    font-weight: 600;
    padding: 12px;
    left: 55px;
    color: #FFFDFC;
    }


h1 {
    color: rgb(235, 239, 228);
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: auto;
    padding: 40px;
    text-transform: uppercase;
    font-size: 35px;
    transform: translate(-50%, -50%);
    letter-spacing: 3px;
    line-height: 1.4;
}

.conteinerReserva{
    color: rgb(9, 7, 7);
    box-sizing: content-box;
    border: solid #402b11 2px;
    padding: 40px;
    padding-top: 1.5cm;
    padding-bottom: 1.5cm;
    background-color: #b9a78e;
}



input {
	border: 2px solid rgb(215, 209, 209);
    border-radius: 5px;
    width: 6cm;
    height: 41px;
}

label{
    color: #FFFDFC;
    font-size: large;
    padding-bottom: 15px;
}



.textSelect{
    color: #FFFDFC;
    font-size: large;
    padding-bottom: 15px;
}

button{
    width: 6cm;
    height: 50px;
    padding-bottom: 15px;
}


h3{
    text-align: center;
    color: black;
}

.card-title{
    font-size: 23px;
    color: #b99768;
    font-family: cursive;
    text-align: center;
}

.card-text {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #111111;
    font-weight: 500;
    text-align: center;
    font-size: 15px;
}


h3{
    font-size: 38px;
    color: #FFFDFC;
    
}

h4{
    align-items: center;
    text-align: center;
    font-size: 15px;
    color: #FFFDFC;
}

.presentacionHotel{
    padding-top: 2.5cm;
    padding-bottom: 2.5cm;
    background-color: #b99768;
}

.textHotel{
    align-items: center;
    text-align: center;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    padding: 30px;
    font-size: 15px;
    color: #FFFDFC;
    
}

h6{
    color: #b99768;
    font-size: 20px;
    text-align: center;
}
.backgroundColorResenia
{
    background-color: #b99768;
}
.comentariosConteiner{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(./img/PORTADANUMERO2.jpg);
    padding: 150px;
    background-size: cover;
    background-position: center;
}

.text-box{
    background-color: #c6a77a;
    color: #FFFDFC;
    font-weight: 500;
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 8px;
    border: 5px solid rgb(248, 246, 246);
    text-align: center;
    margin-right: 4cm;
    margin-left: 4cm;
    padding-left: 3cm;
    padding-right: 3cm;
}

p{
    font-weight: 400;
    font-size: 16px;
    color: rgb(19, 19, 14)
}

.card-title2{
    font-size: 20px;
    color: #b99768;
}

.card-text2{
    font-size: 10px;
    color: #272626;
}

.card-footer{
    color: #111111;
    font-size: 10px;
}